
table{border-collapse: collapse;}
table{border-color: black;}
body{background-image: url('imgMenu/bg.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;}

/*.responsive-canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 900px;
}*/
@font-face {
    font-family: myFont;
    src: url(SuperGame-X3Rz9.ttf);
}

.canvas{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.text{
    font-family: myFont;
}

.menu{
    
    zoom: 200%;
    
    
}
a{
    text-decoration: none;/*no riga del link*/
}

.h1{
    
    color: rgb(0, 128, 0);
    text-shadow:
    0 0 7px black,
    0 0 10px rgb(0, 0, 0),
    0 0 21px rgb(0, 0, 0),
    0 0 42px rgb(0, 0, 0),
    /*0 0 82px green,*/
    /*0 0 92px green,*/
    /*0 0 102px green,*/
    0 0 0px rgb(0, 0, 0);

    zoom: 200%;
    
}
/*.h2{ Roccia perche
    margin-left: 100px;
    width: 50%;
}*/

.helpText{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    zoom: 80%;
}

.membri{
    zoom: 95%;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 7px black,
    0 0 10px rgb(255, 255, 255),
    0 0 21px rgb(255, 255, 255),
    0 0 42px rgb(255, 255, 255),
    /*0 0 82px rgb(255, 255, 255),*/
    /*0 0 92px rgb(255, 255, 255),*/
    /*0 0 102px rgb(255, 255, 255),*/
    0 0 0px rgb(255, 255, 255);
    
}


.centerText {
    text-align: center;
}
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.buttonMenu {
    /*background-color: #efb281;*/
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    border: 4.5px solid green;
    text-align: center;
    padding: 15px;
    line-height: 0px; 
    
    display: block;  
    max-width: 110px;
    width: 300%;/* grandezza bottoni e testo all'interno immobili*/
    

    transition-duration: 0.4s;

    
}

.buttonIndietro{
    zoom: 100%;
}

footer {
    padding: 100px 0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{

  float: none;
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 140%;
    
}

.nav-item{
    list-style: none;
}

.nav-link{
    color: green;
    border-color: #000000;
    border-style: dashed;
    
}

.loginMenu{
    width: 80px;
    height: auto;
    display: block;
    
}

.Table{
    position: relative;/* far si che i bottoni si possano spostare sul css tramite right,left,ecc. ma allo stesso tempo che rimangano allineati al centro seguendo l'allineamento dei bottoni*/
    right: 100px;

    zoom: 35%;

    text-align: center;
    display: flex;
    max-width: 110px;
    width: 300%;
     
}

.TableWithHome{
    position: relative;/* far si che i bottoni si possano spostare sul css tramite right,left,ecc. ma allo stesso tempo che rimangano allineati al centro seguendo l'allineamento dei bottoni*/
    right: 150px;

    zoom: 35%;

    text-align: center;
    display: flex;
    max-width: 110px;
    width: 300%;
     
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(0, 128, 0); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(0, 128, 0); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.optionsText{
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 7px green,
    0 0 10px rgb(0, 128, 0),
    0 0 21px rgb(0, 128, 0),
    0 0 42px rgb(0, 128, 0),
    /*0 0 82px green,*/
    /*0 0 92px green,*/
    /*0 0 102px green,*/
    0 0 0px rgb(0, 128, 0);
}

.scoreBoard{
    width:30%;
    position: relative;
    text-align: center;
    color: white;
}

.textScoreBoard{
    position: absolute;
    top:20%;
    left:35%;
    transform: translate(-50%, -50%);
}

.livelli{
    width:98%; 
    margin:1%;
}

.tableLivelli{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:100px;
}

.buttonLivelli{
    width: 100%;
}


@media only screen and (max-height: 725px) { 
    .menu{
        zoom: 180%;
    }
}

@media only screen and (max-height: 562px) { 
    .menu{
        zoom: 140%;
    }
    .h1{
        zoom: 140%;
    }
}

@media only screen and (max-height: 440px) { 
    .menu{
        zoom: 100%;
    }
}





@media only screen and (max-width: 768px) { /*600px solo telefoni*/
    .menu{
        zoom: 153%;
        
    }
    .navbar{
        zoom: normal;
    }

    .scoreBoard{
        width: 70%;
        position: relative;
        text-align: center;
        color: white;
    }
}





.buttonMenu:hover {
    background-color: green; /* Green */
    color: black;
    box-shadow: 0 12px 16px 0 black/*, 0 17px 50px 0 green*/;/*neon verde*/
}



/*mettere animazione menu nav-bar*/
/*mettere le pagine restanti*/






